.Accordion {
  padding: 20px;
}

.sub-drawer-name {
  color: #808080;
}

.indent-2 {
  text-indent: 50px;
}

.indent-3 {
  text-indent: 100px;
}

.indent-3 {
  text-indent: 150px;
}

.indent-4 {
  text-indent: 200px;
}

.scrb-indent1 {
  text-indent: 30px;
}

.scrb-indent2 {
  text-indent: 70px;
}

.scrb-indent3 {
  text-indent: 120px;
}

.scrb-indent4 {
  text-indent: 170px;
}

.scrb-indent5 {
  text-indent: 220px;
}

.no-scribble {
  color: blueviolet;
  text-indent: 100px;
  display: block;
}

.individual-scribble {
  /* text-indent: 100px; */
}

a {
  text-decoration: none;
  color:#606060
}

a:hover {
  color:purple
}

.sub-drawer-div {
  border-top: 2px dotted #808080;
}

/* .sub-drawer-scribble-list {
  display:block;
} */

.triangle {
  float: left;
}
