.Accordion {
  background-color: lightcyan;
  padding: 20px;
}

.sub-drawer {
  color: blue;
  text-indent: 50px;
}

.no-scribble {
  color: blueviolet;
  text-indent: 100px;
  display:none;

}

.individual-scribble {
  text-indent: 100px;
}

a {
  text-decoration: none;
}

.sub-drawer-header {
  border: 2px solid lightseagreen;
}

.sub-drawer-scribble-list {
  display:none;
}
