.Accordion {
  background-color: lightcyan;
  padding: 20px;
}

.sub-drawer-name {
  color: blue;
}

.indent-2{
  text-indent: 50px;
}

.indent-3{
  text-indent: 100px;
}

.scrb-indent1{
  text-indent: 30px;

}

.scrb-indent2{
  text-indent: 70px;

}

.scrb-indent3{
  text-indent: 120px;

}

.no-scribble {
  color: blueviolet;
  text-indent: 100px;
  display:block;

}

.individual-scribble {
  /* text-indent: 100px; */
}

a {
  text-decoration: none;
}

.sub-drawer-div {
  border: 2px solid lightseagreen;
}

.sub-drawer-scribble-list {
  display:block;
}


