.drawer-list {
  text-align: left;
  width: 100%;
  margin: auto;
  padding: 30px;
}

/* top-level drawer */
.rendered-drawers>h2{
/* font-size:22px; */
font-weight:900;
}

/* sub-folders */
.sub-drawer-header>h3{
  font-size:14px;
  font-weight:900;
  display:block;
}

/* scribbles */
.sub-drawer-header{
  font-size:10px;
}

.no-scribble{
  font-size:10px;
}

.indent-2 {
  text-indent: 40px;
}

.indent-3 {
  text-indent: 80px;
}

.indent-4 {
  text-indent: 1200px;
}

.indent-5 {
  text-indent: 160px;
}

.scrb-indent1 {
  text-indent: 20px;
}

.scrb-indent2 {
  text-indent: 50px;
}

.scrb-indent3 {
  text-indent: 90px;
}

.scrb-indent4 {
  text-indent: 130px;
}

.scrb-indent5 {
  text-indent: 170px;
}
