.drawer-list {
    text-align: left;
}

.indent-2 {
    text-indent: 40px;
  }
  
  .indent-3 {
    text-indent: 80px;
  }
  
  .scrb-indent1 {
    text-indent: 20px;
  }
  
  .scrb-indent2 {
    text-indent: 50px;
  }
  
  .scrb-indent3 {
    text-indent: 90px;
  }
  