.ScribbleBtn-div{
    position:absolute;
    bottom:0;
    background-color: blanchedalmond;
    border:2px solid black;
    
}

.ScribbleBtn {
    background: black;
    border-radius:20px;
    color:white;
}

.ScribbleBtn:hover {
    background: blue;
    border-radius:20px;
    color:white;
}